footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  border-top: 1px solid #000;

}

footer span{
  margin-top: 3.8rem;
  font-weight: 500;
  font-size: 1.6rem;
}
