.container-header{
  margin-top: 6.5rem;
}

.wrapper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0;
}

.wrapper-scroll{
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-style {
  color: #7B4AE2;
}

.button-links {
  padding: 14px 40px;
  background: #040303;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 4px 4px 0px rgb(109, 106, 106);
  border-radius: 4px;
  cursor: pointer;

  transition: all 0.2s ease-in;
}

.button-links:hover {
  box-shadow: 2px 2px 0 #ccc;
}
.intro {
  font-size: clamp(1.6rem, 5vw, 2.2rem);
  font-weight: bold;
}

.intro-name {
  font-size: clamp(4.8rem, 7vw, 6.2rem);
  font-weight: 800;
  margin: 1.5rem 0 1rem 0;
  min-width: 29rem;
  max-width: 40rem;
}

.occupation {
  max-width: max-content;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;

  overflow: hidden;
  border-right: 0.1em solid #040303;
  white-space: nowrap;
  letter-spacing: 0.2em;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 600;
  color: #7B4AE2;
}

.comment {
  color: #ABB2BF;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 20px;

  margin: 2rem 0 4rem;
}

.intro-wrapper .comment {
  max-width: 38rem;
}

#lottie-dev {
  width: 400px;
  height: 400px;
}

.scroll-icon{
  width: 2rem;
  height: 3.5rem;
  position: relative;
  border: .2rem solid;
  border-radius: 2rem;
}

.scroll-icon .wheel{
  position: absolute;
  left: 50%;
  top: 15%;
  width: .5rem;
  height: .5rem;
  background: #040303;
  transform: translate(-50%, 0);
  border-radius: .6rem;

  animation: wheel .9s ease-in-out infinite;
}


/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #040303;
  }
}

@keyframes wheel{
  0%{
    transform: translate(-50%, 0);
  }
  20%, 70%{
    opacity: 1;
  }
  90%, 100%{
    transform: translate(-50%, 250%);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  #lottie-dev {
    display: none;
  }
}

@media (min-width: 1024px){
  .wrapper-header {
    margin: 6.5rem 0;
  }
}