
.wrapper-projects{
  margin-top: 6.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
}

.cards{
  border: 1px solid #112240;
  border-radius: 10px;
  max-width: 320px;
  height: 412px;
  padding: 2.4rem;
}

.cards .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards .top .links-project{
  display: flex;
  gap: 1.6rem;
}

.header{
  margin-top: 3.2rem;
}

.cards .header .name-project{
  font-weight: 700;
  margin-bottom: 2rem;

}

.cards .header .description-project{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;

  color: rgba(0, 0, 0, 0.5);
}
.tech-project{
  display: flex;
  gap: .8rem;
}

.tech-project .tech{
  background: rgba(123, 74, 226, 0.1);
  border-radius: 8px;
  width: 106px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #7B4AE2;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  margin-top: 1rem;
}

.image-project{
  margin-top: 2rem;
}

.image-project img{
  max-width: 100%;
  height: 140px;
  border-radius: 8px;
}
