.skills-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-wrapper{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-wrapper .nextjs svg path{
  fill: var(--color-dark);
}

.styled-components{
  width: 100px;
  height: 100px;
  
  margin-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.styled-components h1{
  font-size: 2rem;
}

.styled-components h1 span{
  color: var(--color-dark);
}

.learn{
  margin-top: 4rem;
}