/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(./nav.css);
@import url(./header.css);
@import url(./contact.css);
@import url(./project.css);
@import url(./about.css);
@import url(./skill.css);
@import url(./footer.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: #000000;

  scrollbar-width: thin;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #1212;
  border-radius: 20px;
  border: 3px solid none;
}

body {
  background: #ffffff;
}

#container {
  margin: 2rem;
}

/*Title Sections*/
section .name-sections {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.name-sections{
  margin-top: 6.3rem !important;
}

.name-sections,
.hash {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 600;
}

.hash {
  color: #7B4AE2;
}

.btn-top{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 23px;
  color: rgba(123, 74, 226, 0.5);
}

:root {
  font-size: 62.5%;
}

@media (min-width: 768px) {
  #container {
    margin: 2rem 6rem;
  }
}
